* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
button {
    width: 100px;
    aspect-ratio: 5.7 / 4;
    font-size: 25px;
    border-radius: 10px;
}
.buttons {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 2px;
}
button.operator {
    background-color: lightblue;
}
button.number {
    background-color: lightgray;
}
.row {
    display: flex;
    gap: 2px;
}
.bar {
    display: flex;
    width: 500px;
}
.result, .operation{
    font-size: 50px;
    border: 2px;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    text-align: center;
}
.result {
    width: 400px;
    border-right-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.operation {
    width: 100px;
    border-left-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}